@{
    ViewData["Title"] = "Application Sumbitted";
}
@model Mission6_Twilso48.Models.applicationResponse

@if (Model.Stalker == true)
{
    <h3>sorry I dont want to go out with you</h3>
}
else
{

    <h2>Application received. Thank you @Model.Name</h2>
}
