@{
    ViewData["Title"] = "Date Me";
}

    <h1>The Joel Hilton Film Collection</h1>
    <div>
        <p>This a paragraph about anything you want it to be about</p>
    </div>

    <img src="~/img/JoelHiltonHeadshot.jpg" />
    <br /><br />


    <div>
        <a asp-controller="Home" asp-action="application">Fill out the application</a>
    </div>

