@{
    ViewData["Title"] = "Date Me";
}
<h1>h1 tag</h1>
<div>
    <p>This a paragraph about anything you want it to be about</p>
</div>


<img src="~/img/mountain_pic.jpg" height="400" />
<br /><br />


<div>
    <a asp-controller="Home" asp-action="application">Fill out the application</a>
</div>